.homeContentContainer {
  display: flex;
  background-color: aqua;
}

.homeSidebar {
  flex: 3;
  margin: 25px;
  padding: 10px;
  background-color: rgb(219, 219, 219);
}

.homeMainContent {
  flex: 9;
  margin: 25px;
  padding: 10px;
  background-color: rgb(195, 195, 195);
}
